* { margin:0;
    padding:0;
    box-sizing:border-box;
}


a {
    text-decoration: none;
}


#css752-1570 {
    display: none;
    }


    /* HEADER */
.header {
    background-image: -webkit-linear-gradient(#0b4b8b, #103961);
    width: 100%;
    min-height: 80px;
    display: inline-flex;
    align-content: center;

}

    .header-logo-container {
        align-self: center;
       margin-left: 6%;

    }

    #header-logo {
      max-width: 200px;
      max-height: 100px;
       align-self: center;
    }

    #m-header-logo {
        display: none;
      }

    .header-menu-container {
       display: inline-flex;
       align-self: center;
       margin-left: auto;
        margin-right: 3%;
    }

    .header-buttons {
       color: #fff;
       font-family: 'work sans', sans-serif; 
       letter-spacing: -0.75px;
       font-weight: 300;
       text-decoration: none;
       margin-left: 20px;
       font-size: 1.3rem;
    }

    .header-buttons-sel {
        color: #9fd2f8;
        font-family: 'work sans', sans-serif; 
        letter-spacing: -0.75px;
        font-weight: 300;
        text-decoration: none;
        margin-left: 20px;
        font-size: 1.3rem;
     }


    .header-menu-notif {
       overflow: hidden;
      margin-right: 6%;
      max-height: 40px;
      border-radius: 100%;
      align-self: center;
      border:2.5px solid white;

    }

    .m-header-notif {
        display:none;
    }


    /* SUBHEADER */
.subheader {
    display: inline-flex;
    width: 100%;
    background-color: #eee;
    min-height: 35px;
    font-family: 'work sans', sans-serif; 
    letter-spacing: -0.75px;
    font-weight: 300;
    color: #373737;
    }

    #subheader-hello {
        align-self: center;
        font-weight: 600;
        margin-left: 6%;
    }

    #subheader-allowance {
    align-self: center;
    font-weight: 300;
    margin-left: 2%;
    }

    #subheader-company {
      align-self: center;
      font-weight: 300;
      margin-left: auto;
      margin-right: 6%;
    }



    /* TOP */
.top-container {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 35px; 
    display: inline-flex;
    align-content: flex-start;
    width: 88%;
    height: 70px;
    overflow: hidden;
    justify-content: space-between;
    background-color: ;
}

    .search-staff {
       height: 70px;
       color: #103961;
       max-width: 15%;
       flex-grow: 1 ;
       font-family: 'work sans', sans-serif; 
       letter-spacing: -0.75px;
       font-style: italic;
        font-weight: 300px;
        font-size: 1.3rem;
    }

    .search-underline {
       width: 100%;
       height: 1px;
       background-color: #103961;
    }

    .staff-search-image img {
      min-width: 120px;
      max-width: 120px;
      max-height: 30px;
      margin-top: -10px;
    }
            /* MONTH BAR DARK BLUE SECTION WHOLE */
    .month-parent {
     display: inline-flex;
     margin-right: 0px;
     height: 42px;
     width: 84%;
     justify-content: flex-end;
    }
            /* MONTH BUTTONS HOLDER */
        .month-select-container {
            display: inline-flex;
            padding-left: 0.75%;
            padding-right: 0.75%;
            height: 100%;
            margin-left: auto;
            margin-right: 0%;
            width: 100%;
            Background-color: #103961;
            border-radius: 7px;
        }
            /* MONTH BAR BUTTONS */
            .month {
                text-align: center;
                margin-top: 6.2px;
                border-radius: 7px;
                width: 7%;
                height: 70%;
                margin-left: 3px;
                cursor: pointer;
            }
            
            #jan {
                background-color: #51b9f9;
            }

            #feb {
                background-color: #51b9f9;
            }

            #mar {
                background-color: #51b9f9;
            }

            #apr {
                background-color: #51b9f9;
            }
            
            #may {
                background-color: #51b9f9;
            }

            #jun {
                background-color: #51b9f9;
            }

            #jul {
                background-color: #51b9f9;
            }

            #aug {
                background-color: #51b9f9;
            }

            #sep {
                background-color: #51b9f9;
            }

            #oct {
                background-color: #51b9f9;
            }

            #nov {
                background-color: #51b9f9;
            }

            #dec {
                background-color: #51b9f9;
            }

            .month p {
                font-family: 'work sans', sans-serif; 
                font-weight: 300;
                margin-top: 4.5px; 
                text-transform: uppercase;
            }
 
            .month-parent {
                font-family: 'work sans', sans-serif; 
                 font-weight: 600;
                 margin-top: 5.9px; 
                 text-transform: uppercase;
                 font-weight: 600;
                 color: white;
            }


/* MONTH */ .month-selected a {
/* SELECTED */  color: #009eff;
            }            
             /* TOP MONTH BAR: TODAY BUTTON */
            .month-today {
                background-color: #51b9f9;
                text-align: center;
                margin-top: 6.2px;
                border-radius: 7px;
                width: 7%;
                height: 70%;
                margin-left: 1px;
                cursor: pointer;
   
            }
         

            /* TOP MONTH BAR: TODAY BUTTON TEXT */
            .month-today p {
                font-family: 'work sans', sans-serif; 
                font-weight: 300;
                color: white;
                margin-right: 3px;
                margin-top: 4.5px; 
                text-transform: uppercase;
            }
            /* TOP MONTH BAR: TODAY BUTTON */
            .month-year {
                background-color: #0081ff;
                text-align: center;
                margin-top: 6.2px;
                border-radius: 7px;
                width: 7%;
                height: 70%;
                margin-left: 3px;
                margin-right:3%;
            }
            /* TOP MONTH BAR: TODAY BUTTON TEXT */
            .month-year p {
                font-family: 'work sans', sans-serif; 
                font-weight: 300;
                margin-top: 4.5px;  
                text-transform: uppercase;
                font-weight: 600;
            }           

     



            /* CALENDAR SECTION */
.calendar-container {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5px; 
    display: inline-flex;
    align-content: flex-start;
    width: 88%;
    justify-content: space-between;
    background-color: gray;
}

.main-row {
    width: 100%;
    height: 2px;
    background-color: black;
}




